In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
df = pd.read_csv('../source/51job_大数据_Info_All.dat',engine='python',sep=',',names=['job','com','add','sal','date'],encoding='utf-8')
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [3]:
df.head()

           job                  com     add         sal   date
0    大数据电商运营助理           福州咸鱼科技有限公司      福州    0.8-1万/月  12-04
1     大数据研发工程师         福建元鼎磐基科技有限公司  福州-台江区  0.8-1.5万/月  12-04
2     大数据研发工程师  浙江星嘉合科技有限公司福建分公司...  福州-台江区  0.8-1.5万/月  12-04
3       大数据架构师  中电（福建）健康医疗大数据运营服...  福州-长乐市  1.5-2.5万/月  12-04
4  大数据运维工程师-福州         中电福富信息科技有限公司      福州    0.8-1万/月  12-04

TypeError: 'int' object is not callable