In [1]:
import numpy as np
import pandas as pd

In [2]:
#数据分析必备库
#python data anlysis lib
#pandas基于numpy库
#pandas中两个常用的类：Series,DataFrame
#数据分析都用什么软件分析？excel/spss/sas
# 数据分析，查找规律
# pandas处理数据速度快，灵活度更高

In [3]:
from pandas import Series,DataFrame

In [4]:
#创建
#Series是一维数据
s = Series(data=[120,136,128,99],index=['Math','Python','En','Chinese'])
s

Math       120
Python     136
En         128
Chinese     99
dtype: int64

In [5]:
s.shape

(4,)

In [6]:
v = s.values
v

array([120, 136, 128,  99], dtype=int64)

In [7]:
i = s.index
for x in i:
    print(x)

Math
Python
En
Chinese

In [8]:
type(v)

numpy.ndarray

In [9]:
 print(s.mean(),s.max(),s.std(),s.pow(2),sep='\n')

120.75
136
15.903353943953666
Math       14400
Python     18496
En         16384
Chinese     9801
dtype: int64

In [12]:
#size=(x,y)表示x行y列；size=n表示长度为n
df = DataFrame(data=np.random.randint(0,150,size=(10,4)),index=list('abcdefhijk'),columns=[j for j in i])
df

   Math  Python   En  Chinese
a    33     133   61        1
b   127      76   40      101
c    46     109  103       81
d    92     119   92       90
e    76      28   10       42
f    38       6   15       89
h   129      64  133      112
i   143     144   28      104
j    18      53  118       91
k   112      31   16       29

In [11]:
df.shape

(10, 4)

In [13]:
v = df.values
v

array([[ 33, 133,  61,   1],
       [127,  76,  40, 101],
       [ 46, 109, 103,  81],
       [ 92, 119,  92,  90],
       [ 76,  28,  10,  42],
       [ 38,   6,  15,  89],
       [129,  64, 133, 112],
       [143, 144,  28, 104],
       [ 18,  53, 118,  91],
       [112,  31,  16,  29]])

In [14]:
df.mean()

Math       81.4
Python     76.3
En         61.6
Chinese    74.0
dtype: float64

In [15]:
df.max()

Math       143
Python     144
En         133
Chinese    112
dtype: int32

In [16]:
df.mean(axis=0)
#聚合操作 按行进行计算

Math       81.4
Python     76.3
En         61.6
Chinese    74.0
dtype: float64

In [17]:
df.mean(axis=1)

a     57.00
b     86.00
c     84.75
d     98.25
e     39.00
f     37.00
h    109.50
i    104.75
j     70.00
k     47.00
dtype: float64