In [12]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [2]:
df = DataFrame(data=np.random.randint(0,150,size=(2000,5)),index=np.arange(100,2100),columns=['python','en','math','chinese','music'])
df

      python   en  math  chinese  music
100      130   94   100       57     58
101      137   11   114      145     24
102      117   47    29      143     48
103       73   19    92      111     40
104      146   28   121      139     99
...      ...  ...   ...      ...    ...
2095      54   67   121       63    121
2096      70   65    41       47     68
2097     120  144   148       68     10
2098      61  125    62      144    137
2099     125   14   146      104     63

[2000 rows x 5 columns]

In [3]:
for i in range(1000):
    index = np.random.randint(100,2100,size=1)[0]
    col = np.random.choice(df.columns)
    df.loc[index,col] = None
df

      python     en   math  chinese  music
100    130.0   94.0  100.0     57.0    NaN
101    137.0    NaN  114.0    145.0   24.0
102    117.0   47.0   29.0    143.0   48.0
103     73.0    NaN   92.0    111.0   40.0
104    146.0   28.0    NaN    139.0   99.0
...      ...    ...    ...      ...    ...
2095    54.0   67.0  121.0     63.0  121.0
2096    70.0   65.0   41.0     47.0   68.0
2097   120.0  144.0  148.0     68.0   10.0
2098    61.0  125.0   62.0    144.0  137.0
2099   125.0   14.0  146.0    104.0   63.0

[2000 rows x 5 columns]

In [4]:
df.isnull().sum()

python     192
en         197
math       179
chinese    197
music      185
dtype: int64

In [5]:
df.isnull().sum().sum()

950

In [6]:
df.head()

     python    en   math  chinese  music
100   130.0  94.0  100.0     57.0    NaN
101   137.0   NaN  114.0    145.0   24.0
102   117.0  47.0   29.0    143.0   48.0
103    73.0   NaN   92.0    111.0   40.0
104   146.0  28.0    NaN    139.0   99.0

In [7]:
df.tail()

      python     en   math  chinese  music
2095    54.0   67.0  121.0     63.0  121.0
2096    70.0   65.0   41.0     47.0   68.0
2097   120.0  144.0  148.0     68.0   10.0
2098    61.0  125.0   62.0    144.0  137.0
2099   125.0   14.0  146.0    104.0   63.0

In [9]:
df['python'].unique()
#unique() 去重

array([130., 137., 117.,  73., 146.,  81.,  45.,  52.,  25.,  20.,  47.,
         9.,  nan, 135.,   2., 122.,   1.,  92.,  64.,  56., 140.,  12.,
       148.,  71.,  62.,   5.,  60.,  67.,  86.,  33.,  53.,  82.,  91.,
       114.,   8.,  55.,  28.,  23.,  94.,  24.,  89., 109.,  98.,  78.,
        59.,  84., 132., 102., 107., 108.,  49., 127., 111.,  63.,  13.,
       142.,   4.,  36.,  65., 105.,  14.,  69., 136.,  93., 144.,  80.,
       131.,  96.,  50.,  15.,  57.,  51.,  79.,  22., 133., 149.,   6.,
         7.,  27., 104., 113.,  76.,  32.,  35.,  54.,  70.,  83., 123.,
        17.,  30.,  68.,  43.,  87.,  38.,  16.,  72.,  88., 125., 101.,
        21., 129., 112., 126.,  75., 110.,  31.,  26., 141.,  39.,  99.,
        97., 124.,   0.,  74.,  41.,  40., 128.,  77.,  95.,  46.,  19.,
         3., 147.,  34.,  66., 145., 143., 138., 119., 100., 106., 120.,
       103., 139.,  37., 116.,  61.,  42., 118.,  58., 121., 134., 115.,
        10.,  48.,  44.,  85.,  90.,  11.,  29.,  18.])

In [10]:
df['python'].value_counts()

71.0     23
7.0      19
82.0     19
70.0     19
137.0    18
         ..
34.0      6
27.0      6
143.0     5
36.0      4
134.0     4
Name: python, Length: 150, dtype: int64

In [17]:
type(df['python'].value_counts())#pandas.core.series.Series
s = Series(data=[1,2,3,4,5])
s.index[0]

0

In [21]:
l = [df[col].value_counts().index[0] for col in df.columns]
df2 = df.fillna(value=l)

TypeError: "value" parameter must be a scalar or dict, but you passed a "list"