In [1]:
import numpy as np 
import pandas as pd
from pandas import Series,DataFrame

In [2]:
df = DataFrame({'Hand':['right','left','left','right','right','right','right','right','left','right'],
               'Smoke':['yes','yes','no','no','yes','no','no','no','no','yes'],
               'sex':['male','female','female','male','male','male','female','female','male','female'],
               'weight':[80,50,48,75,68,100,40,90,88,76],
               'IQ':[100,120,90,130,140,80,94,110,100,160]})
df.head()

    Hand Smoke     sex  weight   IQ
0  right   yes    male      80  100
1   left   yes  female      50  120
2   left    no  female      48   90
3  right    no    male      75  130
4  right   yes    male      68  140

In [5]:
#透视表
df.pivot_table(values=['weight','IQ'],index=['Hand','sex'],aggfunc=['mean','max','min']).round(1)

               mean         max         min
                 IQ weight   IQ weight   IQ weight
Hand  sex
left  female  105.0   49.0  120     50   90     48
      male    100.0   88.0  100     88  100     88
right female  121.3   68.7  160     90   94     40
      male    112.5   80.8  140    100   80     68

In [16]:
#交叉表
cancer_true = np.load('../source/cancer_true.npy',allow_pickle=True)
cancer_predict = np.load('../source/cancer_predict.npy',allow_pickle=True)
display(cancer_true,cancer_predict)

array(['B', 'M', 'M', 'B', 'M', 'B', 'B', 'B', 'M', 'B', 'B', 'M', 'M',
       'B', 'B', 'M', 'B', 'B', 'B', 'B', 'B', 'B', 'M', 'M', 'B', 'B',
       'B', 'M', 'M', 'M', 'M', 'B', 'B', 'B', 'M', 'B', 'B', 'M', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'M', 'M', 'B', 'B', 'B', 'M',
       'M', 'B', 'B', 'B', 'B'], dtype=object)

array(['B', 'M', 'M', 'B', 'M', 'B', 'B', 'B', 'M', 'B', 'B', 'M', 'M',
       'B', 'B', 'M', 'B', 'B', 'B', 'B', 'B', 'B', 'M', 'M', 'B', 'B',
       'B', 'M', 'B', 'B', 'M', 'B', 'B', 'B', 'M', 'B', 'B', 'M', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'M', 'M', 'B', 'B', 'B', 'M',
       'M', 'B', 'M', 'M', 'B'], dtype=object)

In [17]:
pd.crosstab(index=cancer_true,columns=cancer_predict)

col_0   B   M
row_0
B      36   2
M       2  17

In [19]:
pd.crosstab(index=cancer_true,columns=cancer_predict,rownames=['确诊'],colnames=['预测'])

预测   B   M
确诊
B   36   2
M    2  17

In [20]:
pd.crosstab(index=cancer_true,columns=cancer_predict,rownames=['确诊'],colnames=['预测'],margins=True)

预测    B   M  All
确诊
B    36   2   38
M     2  17   19
All  38  19   57