In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
#数据分析/数据挖掘
#有数据的情况下：
#数据预处理
#数据清洗（空数据，异常值）
#数据集成（多个数据合并到一起，级联）数据可能存放多个表中
#数据转化
#数据规约（属性减少（删除不重要属性），数据减少去重操作）

In [3]:
#numpy数组的集成
nd1 = np.random.randint(0,150,(5,10))
nd2 = np.random.randint(0,150,(6,10))
display(nd1,nd2)

array([[ 62, 101,  77, 137,  68,   0,  63, 136,  72,  90],
       [120,  70,   8,  57,  73, 110, 136, 125,  45,  62],
       [ 26,  38,  25, 126, 125, 138,  14,  43, 117,  79],
       [ 86,  89,  12,  39,  27,  27, 146, 136,  97,  21],
       [125,  57,  59, 149,  62, 141,  46,  60,  44,  17]])

array([[117,  61,  72,  91, 144,  39,  79,  42, 138,  60],
       [117,   5,  21,  70, 122, 131,  53,  71,  61,  94],
       [ 17,  85,  55,  64, 100, 147, 127,  53,  95, 100],
       [ 14,  82, 109,  71, 124,  47, 103,  42,  12, 137],
       [  9, 140, 115, 102, 128,  41,  48, 135, 130,  10],
       [115,  14,  64,  79,  83, 145, 139,  75, 143, 117]])

In [4]:
nd3 = np.concatenate((nd1,nd2),axis=0)
nd3

array([[ 62, 101,  77, 137,  68,   0,  63, 136,  72,  90],
       [120,  70,   8,  57,  73, 110, 136, 125,  45,  62],
       [ 26,  38,  25, 126, 125, 138,  14,  43, 117,  79],
       [ 86,  89,  12,  39,  27,  27, 146, 136,  97,  21],
       [125,  57,  59, 149,  62, 141,  46,  60,  44,  17],
       [117,  61,  72,  91, 144,  39,  79,  42, 138,  60],
       [117,   5,  21,  70, 122, 131,  53,  71,  61,  94],
       [ 17,  85,  55,  64, 100, 147, 127,  53,  95, 100],
       [ 14,  82, 109,  71, 124,  47, 103,  42,  12, 137],
       [  9, 140, 115, 102, 128,  41,  48, 135, 130,  10],
       [115,  14,  64,  79,  83, 145, 139,  75, 143, 117]])

In [5]:
df1 = DataFrame(data=np.random.randint(0,150,(3,3)),index=list('ABC'),columns=['python','en','math'])
df2 = DataFrame(data=np.random.randint(0,150,(7,3)),index=list('DEFGHIJ'),columns=['python','en','math'])
display(df1,df2)

   python   en  math
A      31  101    87
B     101   84    19
C      92  142    65

   python   en  math
D     104   14    87
E      16   17   103
F     118  106     4
G      81  107   105
H      65  121   106
I     142    5    81
J      13   87     4

In [6]:
df3 = df1.append(df2)
df3

   python   en  math
A      31  101    87
B     101   84    19
C      92  142    65
D     104   14    87
E      16   17   103
F     118  106     4
G      81  107   105
H      65  121   106
I     142    5    81
J      13   87     4

In [7]:
pd.concat([df1,df2],axis=0)

   python   en  math
A      31  101    87
B     101   84    19
C      92  142    65
D     104   14    87
E      16   17   103
F     118  106     4
G      81  107   105
H      65  121   106
I     142    5    81
J      13   87     4

In [8]:
pd.concat([df1,df2],axis=1,ignore_index=True)

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

       0      1     2      3      4      5
A   31.0  101.0  87.0    NaN    NaN    NaN
B  101.0   84.0  19.0    NaN    NaN    NaN
C   92.0  142.0  65.0    NaN    NaN    NaN
D    NaN    NaN   NaN  104.0   14.0   87.0
E    NaN    NaN   NaN   16.0   17.0  103.0
F    NaN    NaN   NaN  118.0  106.0    4.0
G    NaN    NaN   NaN   81.0  107.0  105.0
H    NaN    NaN   NaN   65.0  121.0  106.0
I    NaN    NaN   NaN  142.0    5.0   81.0
J    NaN    NaN   NaN   13.0   87.0    4.0

In [9]:
# stack() 跟 unstack()的运用

In [22]:
s1 = Series(data=np.random.randint(0,150,size=2),index=['A','B'])
s1

A    102
B     23
dtype: int32

In [26]:
s2 = Series(data=np.random.randint(0,150,size=2),index=['C','D'])
s2

C     93
D    116
dtype: int32

In [27]:
s3 = s1 + s2
s3

A   NaN
B   NaN
C   NaN
D   NaN
dtype: float64

In [28]:
s4 = s1.append(s2)
s4

A    102
B     23
C     93
D    116
dtype: int32